$black: #000;
$white: #fff;
$wildsand:#dcdcdc;
$gray: rgb(84, 84, 84);
$darkGreen: #0F1E00;
$green:#045705;   
$pink: #e383a5; 
$darkpink:#c56d8c;
$magicmint: #cfece2;
$darkmagicmint:#b2cbc2;
$yellowgreen:#C8E97C;
$darkyellowgreen:#c4dd8a;
$starship:#E8F349;
$darkstarship:#d2d96c;